.button {
	position: relative;
	text-align: center;
	border: 1px solid black;
	width: 100px;
	margin-bottom: 5px;
	padding: 5px 10px;
	cursor: pointer;
	
	/* Prevent selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Underline when hovered */
.button:hover {
	text-decoration: underline;
}

/* No cursor change or underline when disabled */
div.button.disabled,
div.button.disabled:hover {
	cursor: default;
	border-color: #b2b2b2;
	color: #b2b2b2;
	text-decoration: none;
}

/* Cooldown meter */
.button .cooldown {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	height: 100%;
	background-color: #DDDDDD;
}

/* Dark Mode */

.dark div.button {
	border: 1px solid #eeeeee;
}

.dark div.button .cooldown {
	background-color: #666666;
}

.dark div.button.disabled, .dark div.button.disabled:hover {
	color: #666666;
	border-color: #666666;
}