html, body {
    height: 100%;
}

div {
    display: block;
}

body {
    font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
	letter-spacing: normal;
	margin: 0;
	padding: 0;
	border: 0
}

.wrapper {
	margin: auto;
	width: 700px;
	padding: 20px 0 0 220px;
	position: relative;
}

::selection {
	background-color: transparent;
}

::-moz-selection {
	background-color: transparent;
}

.content {
	position: relative;
	overflow: hidden;
	height: 700px;
}

.outer-slider {
	position: absolute;
}

.outer-slider > div {
	position: relative;
	float: left;
	width: 700px;
	height: 700px;
	overflow: hidden;
}

/* Dark Mode */

.dark {
    background-color: #272823;
    color: #eeeeee;
}